<table width="90%" style="table-layout: fixed; margin: 5%">
    <tr>
        <td>
            <h1>History</h1>
            <h6>query history (refresh page to update)</h6>
            <input id="clearhistory" type="button" value="Clear history">
        </td>
    </tr>
</table>

<table border="1px" width="90%" style="table-layout: fixed; margin: 5%">
    <tr>
        <th>Timestamp</th>
        <th>Node</th>
        <th>Query</th>
        <th>Type</th>
    </tr>
    <tr>
        {{#each history}}
        <tr>
            <td style="word-break:break-all;">{{dateFormat this.time "MMM D YYYY hh:mm:ss A"}}</td>
            <td style="word-break:break-all;">{{this.node}}</td>
            <td style="word-break:break-all;">{{this.query}}</td>
            <td style="word-break:break-all;">{{this.type}}</td>
        </tr>
        {{/each}}
    </tr>
</table>

<script>
    $("#clearhistory").click(function() {
        $.post('/clearhistory', {}, function(data) {
            window.location.reload(false)
        })
    })
</script>