<table width="90%" style="table-layout: fixed; margin: 5%">
    <tr>
        <td>
            <h1>Recovery Server</h1>
            <h6>pending queries (refresh page to update)</h6>
        </td>
    </tr>
</table>
<table border="1px" width="90%" style="table-layout: fixed; margin: 5%">
    <tr>
        <th>
            Node 1 &bull;
            <input id="update1" type="button" value="Update Node 1 (Single Query)">
            <h6 id="warning1" style="color: red;"></h6>
        </th>
        <th>
            Node 2 &bull;
            <input id="update2" type="button" value="Update Node 2 (Single Query)">
            <h6 id="warning1" style="color: red;"></h6>
        </th>
        <th>
            Node 3 &bull;
            <input id="update3" type="button" value="Update Node 3 (Single Query)">
            <h6 id="warning1" style="color: red;"></h6>
        </th>
    </tr>
    <tr>
        <td>
            <table id="querysNode1" border="1px" width="98%" style="table-layout: fixed; margin: 1%;">
                {{#each queries1}}
                <tr>
                    <td style="word-break:break-all;">{{this}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table id="querysNode2" border="1px" width="98%" style="table-layout: fixed; margin: 1%;">
                {{#each queries2}}
                <tr>
                    <td style="word-break:break-all;">{{this}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
        <td>
            <table id="querysNode3" border="1px" width="98%" style="table-layout: fixed; margin: 1%;">
                {{#each queries3}}
                <tr>
                    <td style="word-break:break-all;">{{this}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
    </tr>
</table>

<script>
    $("#update1").click(function() {
        $("#update1").val("Updating...")
        $("#warning1").html("")

        $.post('/update', {
            node: 1
        }, function(data) {
            if (data.error) {
                $("#warning1").html("Node 1 Offline")
                $("#update1").val("Update Node 1 (Single Query)")
            } else {
                window.location.reload(false)
            }
        })
    })

    $("#update2").click(function() {
        $("#update2").val("Updating...")
        $("#warning2").html("")
        
        $.post('/update', {
            node: 2
        }, function(data) {
            if (data.error) {
                $("#warning2").html("Node 2 Offline")
                $("#update2").val("Update Node 2 (Single Query)")
            } else {
                window.location.reload(false)
            }
        })
    })

    $("#update3").click(function() {
        $("#update3").val("Updating...")
        $("#warning3").html("")
        
        $.post('/update', {
            node: 3
        }, function(data) {
            if (data.error) {
                $("#warning3").html("Node 3 Offline")
                $("#update3").val("Update Node 3 (Single Query)")
            } else {
                window.location.reload(false)
            }
        })
    })
</script>
