<h1>Recovery Server</h1>

<h6>pending queries</h6>
<div id="queries">

</div>

<script>
    import { io } from "socket.io-client"
    const socket = io('https://stadvdb-recovery-server.herokuapp.com:3000')
</script>
